 
<div class="row jlw-dtlist-localizedcontenttext"> 
    <div class="col-sm-12"> 
        <table class="table table-bordered table-sm table-striped table-hover jlw-datatable jlw-datatable-localizedcontenttext"  data-searching='false' data-ordering='false' data-paging="false" data-info="false" width="100%"> 
            <thead> 
                <tr> 
                     
                    <th data-data="GroupKey" >Group Key</th> 
                    <th data-data="FieldKey" >Field Key</th> 
                    <th data-data="Language" >Language</th> 
                    <th data-data="Text" >Text</th> 
                    <th data-data="AuditChangeType" data-visible="false" class="d-none">Audit Change Type</th> 
                    <th data-data="AuditChangeBy" data-visible="false" class="d-none">Audit Change By</th> 
                    <th data-data="AuditChangeDate" data-visible="false" class="d-none">Audit Change Date</th> 
                    <th data-sortable="false" width="100">&nbsp;</th> 
                     
                </tr> 
            </thead> 
            <tbody></tbody> 
        </table> 
    </div> 
</div> 
