@{
    var langs = new List<SelectListItem>()
    {
		new SelectListItem("English", "EN")
    };
}
<div id='jlwEditFormLocalizedContentText'> 
    <form class='jlw-editform-localizedcontenttext'> 
        <div class="form-group-sm"> 
            <div class="row"> 
                
				<div class="col-sm-4">
					<label class="control-label">Group Key</label><input type="text" name="GroupKey" value="" class="form-control" placeholder="Group Key" disabled="disabled" />
				</div>
				<div class="col-sm-4">
					<label class="control-label">Field Key</label><input type="text" name="FieldKey" value="" class="form-control" placeholder="Field Key" disabled="disabled" />
				</div>
				<div class="col-sm-4">
                    <label class="control-label">Language</label>
                    <select name="Language" class="form-control" asp-items="langs" disabled="disabled"></select>
				</div>
				<div class="col-sm-12">
                    <label class="control-label">Text</label>
                    <textarea name="Text" class="jlw-wysiwyg form-control" placeholder="Text" cols="40" rows="6"></textarea>
				</div>
				<div class="col-sm-4">
					<label class="control-label">Audit Change Type</label><input type="text" name="AuditChangeType" value="" class="form-control" placeholder="Audit Change Type" disabled="disabled" />
				</div>
				<div class="col-sm-4">
					<label class="control-label">Audit Change By</label><input type="text" name="AuditChangeBy" value="" class="form-control" placeholder="Audit Change By" disabled="disabled" />
				</div>
				<div class="col-sm-4">
					<label class="control-label">Audit Change Date</label><input type="datetime" name="AuditChangeDate" value="" class="form-control" placeholder="Audit Change Date" disabled="disabled" />
				</div> 
            </div> 
        </div> 
        <input type="hidden" name="EditToken" value="" /> 
    </form> 
</div>