@using Jlw.Web.Rcl.LocalizedContent
@using Microsoft.Extensions.DependencyInjection
@{
    string libRoot = LocalizedContentExtensions.AreaName;
}
@inject IWizardSettings _settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/@libRoot/css/bootstrap.min.css?_v=@_settings?.Version" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script language="javascript" src="~/@libRoot/js/jquery.min.js?_v=@_settings?.Version"></script>
    <script language="javascript" src="~/@libRoot/js/bootstrap.min.js?_v=@_settings?.Version"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
