SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalizedContentFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FieldKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FieldType] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FieldData] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FieldClass] [varchar](1024) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ParentKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultLabel] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WrapperClass] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WrapperHtmlStart] [varchar](4096) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WrapperHtmlEnd] [varchar](4096) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuditChangeType] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AuditChangeBy] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AuditChangeDate] [datetime] NOT NULL,
	[Order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [unqFormFields] ON [dbo].[LocalizedContentFields]
(
	[GroupKey] ASC,
	[FieldKey] ASC,
	[ParentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocalizedContentFields] ADD  DEFAULT ('') FOR [AuditChangeType]
GO
ALTER TABLE [dbo].[LocalizedContentFields] ADD  DEFAULT ('') FOR [AuditChangeBy]
GO
ALTER TABLE [dbo].[LocalizedContentFields] ADD  DEFAULT ('') FOR [AuditChangeDate]
GO
ALTER TABLE [dbo].[LocalizedContentFields] ADD  DEFAULT ((0)) FOR [Order]
GO
