SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalizedContentText](
	[GroupKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FieldKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Language] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Text] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AuditChangeType] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AuditChangeBy] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AuditChangeDate] [datetime] NOT NULL,
	[ParentKey] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__Localize__F505AA3D476F56D3] PRIMARY KEY CLUSTERED 
(
	[GroupKey] ASC,
	[FieldKey] ASC,
	[Language] ASC,
	[ParentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocalizedContentText] ADD  CONSTRAINT [DF__Localized__Paren__4F67C174]  DEFAULT ('') FOR [ParentKey]
GO
