 
<div class="row jlw-dtlist-localizedgroupdataitem"> 
    <div class="col-sm-12"> 
        <table class="table table-bordered table-sm table-striped table-hover jlw-datatable jlw-datatable-localizedgroupdataitem"  data-searching='false' data-ordering='false' width="100%"> 
            <thead> 
                <tr> 
                     
                    <th data-data="Id" >Id</th> 
                     
                    <th data-data="Language" >Language</th> 
                     
                    <th data-data="GroupKey" >Group Key</th> 
                     
                    <th data-data="Key" >Key</th> 
                     
                    <th data-data="Value" >Value</th> 
                     
                    <th data-data="Order" >Order</th> 
                     
                    <th data-data="Description" >Description</th> 
                     
                    <th data-data="Data" >Data</th> 
                     
                    <th data-sortable="false" width="100">&nbsp;</th> 
                     
                </tr> 
            </thead> 
            <tbody></tbody> 
        </table> 
    </div> 
</div> 
