<div id='jlwEditFormLocalizedGroupDataItem'> 
    <form class='jlw-editform-localizedgroupdataitem'> 
        <div class="form-group-sm"> 
            <div class="row"> 
                
				<input type="hidden" name="Id" value="" class="form-control" placeholder="Id" />
				<div class="col-sm-12">
					<label class="control-label">Language</label><input type="text" name="Language" value="" class="form-control" placeholder="Language" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Group Key</label><input type="text" name="GroupKey" value="" class="form-control" placeholder="Group Key" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Key</label><input type="text" name="Key" value="" class="form-control" placeholder="Key" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Value</label><input type="text" name="Value" value="" class="form-control" placeholder="Value" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Order</label><input type="number" name="Order" value="" class="form-control" placeholder="Order" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Description</label><input type="text" name="Description" value="" class="form-control" placeholder="Description" />
				</div>
				<div class="col-sm-12">
					<label class="control-label">Data</label><textarea name="Data" class="form-control" placeholder="Data" cols="40" rows="3" ></textarea>
				</div> 
            </div> 
        </div> 
        <input type="hidden" name="EditToken" value="" /> 
    </form> 
</div>