<div id='jlwEditFormLocalizedContentField'> 
    <form class='jlw-editform-localizedcontentfield'> 
        <div class="form-group-sm">
            <div class="row">

                <input type="hidden" name="Id" value="" class="form-control" placeholder="Id" />
                <div class="col-sm-3 px-2">
                    <label class="control-label">Group Key</label><input type="text" name="GroupKey" value="" class="form-control" placeholder="Group Key" />
                </div>
                <div class="col-sm-3 px-2">
                    <label class="control-label">Field Key</label><input type="text" name="FieldKey" value="" class="form-control" placeholder="Field Key" />
                </div>
                <div class="col-sm-3 px-2">
                    <label class="control-label">Field Type</label>
                    @*<input type="text" name="FieldType" value="" class="form-control" placeholder="Field Type" />*@
                    <select name="FieldType" class="form-control">
                        <option value="">[Please Select]</option>
                        <option value="BODY">Body</option>
                        <option value="BUTTON">Button</option>
                        <option value="EMBED">Embed</option>
                        <option value="EMAIL">Email</option>
                        <option value="FORM">Form</option>
                        <option value="HEADING">Heading</option>
                        <option value="HTML">Html</option>
                        <option value="INPUT">Input</option>
                        <option value="SELECT">Select</option>
                        <option value="SEPARATOR">Separator Bar</option>
                        <option value="SUBJECT">Subject</option>
                        <option value="TEXT">Text</option>
                        <option value="TEXTAREA">Text Area Input</option>
                        <option value="WIZARD">Wizard</option>
                    </select>
                </div>
                <div class="col-sm-3 px-2">
                    <label class="control-label">Parent Key</label><input type="text" name="ParentKey" value="" class="form-control" placeholder="Parent Key" />
                </div>
                <div class="col-sm-5 px-2">
                    <label class="control-label">Field Class</label><input type="text" name="FieldClass" value="" class="form-control" placeholder="Field Class" />
                </div>
                <div class="col-sm-5 px-2">
                    <label class="control-label">Wrapper Class</label><input type="text" name="WrapperClass" value="" class="form-control" placeholder="Wrapper Class" />
                </div>
                <div class="col-sm-2 px-2">
                    <label class="control-label">Order</label><input type="number" name="Order" value="" class="form-control" placeholder="Order" />
                </div>
                <div class="col-sm-12 px-2">
                    <label class="control-label">Default Label</label><input type="text" name="DefaultLabel" value="" class="form-control" placeholder="Default Label" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 px-2">
                    <div class="expand-element-control float-right"><span class="fa fa-fw fa-expand text-secondary"></span></div>
                    <label class="control-label">Field Data</label><textarea name="FieldData" class="form-control" placeholder="Field Data" cols="40" rows="3"></textarea>
                </div>
                <div class="col-sm-4 px-2">
                    <div class="expand-element-control float-right"><span class="fa fa-fw fa-expand text-secondary"></span></div>
                    <label class="control-label">Wrapper Html Start </label><textarea name="WrapperHtmlStart" value="" class="form-control" placeholder="Wrapper Html Start" cols="40" rows="3"></textarea>
                </div>
                <div class="col-sm-4 px-2">
                    <div class="expand-element-control float-right"><span class="fa fa-fw fa-expand text-secondary"></span></div>
                    <label class="control-label">Wrapper Html End</label><textarea name="WrapperHtmlEnd" value="" class="form-control" placeholder="Wrapper Html End" cols="40" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 px-2 d-none">
                    <label class="control-label">Audit Change Type</label><input type="hidden" name="AuditChangeType" value="" class="form-control" placeholder="Audit Change Type" />
                </div>
                <div class="col-sm-4 px-2 d-none">
                    <label class="control-label">Audit Change By</label><input type="hidden" name="AuditChangeBy" value="" class="form-control" placeholder="Audit Change By" />
                </div>
                <div class="col-sm-4 px-2 d-none">
                    <label class="control-label">Audit Change Date</label><input type="hidden" name="AuditChangeDate" value="" class="form-control" placeholder="Audit Change Date" />
                </div>

            </div>
        </div> 
        <input type="hidden" name="EditToken" value="" /> 
    </form> 
</div>