<div id="leftToolbar" class="col left-toolbar open p-0 flex-column" >
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a id="wizard-tab" class="nav-link p-0 px-2 active" href="#wizard-pane" data-toggle="tab" role="tab" aria-controls="wizard-pane" aria-selected="true"><small>Wizards</small></a>
        </li>
        <li class="nav-item" role="presentation">
            <a id="component-tab" class="nav-link p-0 px-2" href="#component-pane" data-toggle="tab" role="tab" aria-controls="component-pane" ><small>Components</small></a>
        </li>
        <li class="nav-item" role="presentation">
            <a id="controls-tab" class="nav-link p-0 px-2" href="#controls-pane" data-toggle="tab" role="tab" aria-controls="controls-pane" ><small>Controls</small></a>
        </li>
    </ul>
    <div class="bg-light h-100 border border-top-0">
        <div class="dad-drop-zone text-center" id="deleteDropZone"><span class="fa fa-trash"></span></div>
        <div class="switch-options">
            <div class="custom-control custom-switch button-outline">
                <input type="checkbox" class="custom-control-input" id="showWizardNav" checked />
                <label class="custom-control-label" for="showWizardNav"><small>Show Wizard Side Nav</small></label>
            </div>
            <div class="custom-control custom-switch button-outline">
                <input type="checkbox" class="custom-control-input" id="showWireframe" />
                <label class="custom-control-label" for="showWireframe"><small>Mockup Style</small></label>
            </div>
        </div>
        <div class="tab-content overflow-auto position-relative" style="height: 90%; height: calc(100% - 7.5em); outline: 1px solid lightgray;">
            <div id="wizard-pane" class="tab-pane fade show active h-100 p-1" role="tabpanel" aria-labelledby="wizard-tab">
                <div class="input-group input-group-sm mb-2">
                    <select id="slctWizard" class="form-control border-secondary"></select>
                    <div class="input-group-append">
                        <button id="edit-wizard-btn" class="btn btn-outline-warning border-secondary text-dark"><small><span class="fa fa-edit"></span></small></button>
                        <button id="new-wizard-btn" class="btn btn-outline-primary border-secondary text-dark text-light-hover"><small><span class="fa fa-plus"></span></small></button>
                    </div>
                </div>
                <div class="btn btn-sm p-0 border-0 bg-white position-absolute d-inline-block" style="margin-top: 8px; right:12px; z-index: 100;">
                    <button id="new-screen-btn" class="btn btn-outline-primary border-secondary text-dark text-light-hover btn-sm m-0 py-0 px-2" style="margin-top:-2px !important;padding-bottom:1px !important"><small><span class="fa fa-plus"></span></small></button>
                </div>
                <div id="wizardtree" style="height: 1px;"></div>
            </div>
            <div id="component-pane" class="tab-pane fade h-100 p-0" role="tabpanel" aria-labelledby="component-tab">
                <div id="componentlist" class="row ml-1 mr-3" style="height: 1px;">
                </div>
            </div>
            <div id="controls-pane" class="tab-pane fade h-100 p-0" role="tabpanel" aria-labelledby="controls-tab">
                <div id="controllist" class="row ml-1 mr-3 bootstrap-sketchy" style="height: 1px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
</div>

