@model Jlw.Web.Rcl.LocalizedContent.Areas.ModularWizardAdmin.Controllers.AdminController.WizardAdminSettings
@{
    string apiUrl = (string.IsNullOrWhiteSpace(Model?.ApiOverrideUrl)) ? Url.Action("Index", "Api", new { Area = "ModularWizardAdmin" }) + "/" : Model.ApiOverrideUrl;
}
<script>
    function libJlwRightToolbarAdminExtension(t, $, initOptions, undefined) {
        if (!t.urlApiRoot)
            t.urlApiRoot = '@apiUrl';

        var oRightToolbar = $('#rightToolbar');
        var oFieldClass = $('input[name=FieldClass]', oRightToolbar);
        var oFieldData = $('input[name=FieldData]', oRightToolbar);
        t.oRightToolbar = oRightToolbar;

        function initMemberRegex() {
            // Regular expressions
            t.rxCols = /(?<!\S)(?:(col(?:-sm|-md|-lg|-xl)?)(?:[\-])?(1[0-2]|[1-9]|auto)?)/gi;
            t.rxPadding = /(?<!\S)(?:(p(t|r|b|l|x|y)?(?:-sm|-md|-lg|-xl)?)(?:[\-])?([0-5]|auto)?)/gi;
            t.rxMargin = /(?<!\S)(?:(m(t|r|b|l|x|y)?(?:-sm|-md|-lg|-xl)?)(?:[\-])?((?:n)?[0-5]|auto)?)/gi;
            t.rxDisplay = /(?<!\S)(?:(d(?:-sm|-md|-lg|-xl|-print)?)(?:[\-])?(none|inline|inline-block|block|table|table-cell|table-row|flex|inline-flex)?)/gi;
            t.rxBorder = /(?<!\S)(?:(border(?:t|r|b|l|x|y)?(?:-sm|-md|-lg|-xl)?)(?:[\-])?([0-5]|auto)?)/gi;
            t.rxButtons = /(?<!\S)(?:btn(?:[\-])?(outline|block|link|lg|sm)?(?:[\-])?(primary|secondary|success|danger|warning|info|light|dark|link)?)/gi;
            t.rxIcon = /(?<!\S)(fa(?:[\w\-\d]+)?|(text-primary|text-secondary|text-success|text-danger|text-warning|text-info|text-light|text-dark))/gi;
        }
        
        function initMemberArrays() {
            // Arrays
            t.aBreakpoints = ['', '-sm', '-md', '-lg', '-xl'];
            t.aSides = ['', 't', 'r', 'b', 'l'];
            t.aMarginSize = {'-6':'-5', '-5':'-4', '-4':'-3', '-3':'-2', '-2':'-1', '-1':'', '0':'0', '1':'1', '2':'2', '3':'3', '4':'4', '5':'5', '6':'auto'};
            t.aPaddingSize = {'-1':'', '0':'0', '1':'1', '2':'2', '3':'3', '4':'4', '5':'5', '6':'auto'};
            t.aColSize = {'-1':'', '0':'*', '1':'1', '2':'2', '3':'3', '4':'4', '5':'5', '6':'6', '7':'7', '8':'8', '9':'9', '10':'10', '11':'11', '12':'12', '13':'auto'};
        }

        function initMemberFunctions() {
            // Add functions
            t.parseColClass = parseColClass;
            t.parsePaddingClass = parsePaddingClass;
            t.parseButtonClass = parseButtonClass;
            t.parseButtonData = parseButtonData;

            t.loadProperties = loadProperties;
            t.saveFieldData = saveFieldData;
        }

        function initControls() {
            $('input[name="ColSize"]', t.oRightToolbar).data('display-values', t.aColSize);
            $('.padding-p', t.oRightToolbar).data('display-values', t.aPaddingSize);
            $('.margin-m', t.oRightToolbar).data('display-values', t.aMarginSize);
            
            $('.padding-p', t.oRightToolbar).on('change', onChangePaddingSize);
            $('.margin-m', t.oRightToolbar).on('change', onChangeMarginSize);


            $('input[name="ColSize"]', t.oRightToolbar).on('change', onChangeColSpanSize);
            $('input[name="WrapperColBreakpoint"]', t.oRightToolbar).on('change', onChangeColBreakpoint);
            $('input[name="FieldPaddingBreakpoint"],input[name="WrapperPaddingBreakpoint"]', t.oRightToolbar).on('change', onChangePaddingBreakpoint);
            $('input[name="FieldMarginBreakpoint"], input[name="WrapperMarginBreakpoint"]', t.oRightToolbar).on('change', onChangeMarginBreakpoint);
    


            $('.form-control-range', t.oRightToolbar).on('input',onChangeSlider);
            $('.btn-toggle-thumb', t.oRightToolbar).on('click',onTogglePanelCaret);
            $('.card-toggle-thumb', t.oRightToolbar).on('click',onTogglePanelCaret);

            $('select[name="buttonStyle"],input[name="buttonH100"],input[name="buttonOutline"],input[name="buttonBlock"]', t.oRightToolbar).on('change', onChangeButtonClass);
            $('select[name=buttonIcon],select[name=buttonIconColor],select[name=buttonActionType],input[name=buttonEventClick],.button-action-opts', t.oRightToolbar).on('change', onChangeButtonData);

            $('select[name=buttonIcon] option', t.oRightToolbar).each(function() {
                var elem = $(this);
                var val = elem.val();
                $('.button-icon .dropdown-menu', t.oRightToolbar).append('<a href="#" class="dropdown-item small" data-icon=' + val + '>' + (val == "" ? '' : '<span class="fa fa-fw ' + val + '"></span> - ') + elem.text() + '</a>');
            });

            $('.button-icon a.dropdown-item', t.oRightToolbar).off().on('click', onChangeButtonIcon);
            $('select[name=InputType]', t.oRightToolbar).on('change', onChangeInputData);

            $('input[name=FieldKey],input[name=DefaultLabel],input[name=FieldClass],input[name=WrapperClass],input[name=FieldData]', t.oRightToolbar).off().on('change', saveFieldData);
            $('select[name=FieldType],textarea[name=WrapperHtmlStart],textarea[name=WrapperHtmlEnd]', t.oRightToolbar).off().on('change', saveFieldData);

            $('.btn-field-data').on('click', onClickBtnFieldData);
            $('#btn-update-language').on('click', onClickBtnLanguage);
        }

        function getParentBreakpoint(parent) {
            return $(parent.data('breakpoint') + ':checked', parent).val();
        }

        function loadProperties(fieldId) {
            t.post(t.urlApiRoot + '/GetField', { id: Math.abs(fieldId) })
                .done(function(data) {
                    $('.common-card, .input-card, .select-type, .button-card, .form-card, .embed-card').addClass('d-none');
                    var p = $('#propertylist');
                    $('.form-group', p).addClass('d-none');
                    $('input', p).val('');

                    var o = {};
                    var s = '';
                    var fieldId = data['Id'];
                    var groupKey = data['GroupKey'];
                    var fieldKey = data['FieldKey'];
                    var fieldType = (data['FieldType'] || '').toUpperCase();
                    var fieldData = data['FieldData'];
                    var fieldClass = data['FieldClass'];
                    var fieldOrder = data['Order'];
                    var parentKey = data['ParentKey'];

                    if (!fieldId)
                        return;

                    $('.common-card', t.oRightToolbar).removeClass('d-none');


                    if (typeof(fieldData) === 'string') {
                        try {
                            fieldData = $.parseJSON(fieldData);

                        } catch (err) {
                            // invalid json
                            fieldData = {};
                        }
                    }

                    var toolbar = $('.right-toolbar');
                    $('input[name=Id]', toolbar).val(fieldId);
                    $('input[name=GroupKey]', toolbar).val(groupKey);
                    $('input[name=Order]', toolbar).val(fieldOrder);
                    $('input[name=ParentKey]', toolbar).val(parentKey);


                    s = data['FieldKey'];

                    o = $('.field-name');
                    o.removeClass('d-none');
                    $('input', o).val(s);

                    s = data['DefaultLabel'];
                    o = $('.field-label');
                    o.removeClass('d-none');
                    $('input', o).val(s);


                    s = data['FieldType'];
                    o = $('.field-type');
                    o.removeClass('d-none');
                    $('select', o).val(s);
                    $('.input-group-sm', o).removeClass('input-group');
                    $('.input-group-append', o).addClass('d-none');

                    s = JSON.stringify(fieldData);
                    //$('input[name=FieldData]', t.oRightToolbar).val(s);
                    oFieldData.val(s);


                    switch (fieldType) {
                    case 'BUTTON':
                        $('.button-card').removeClass('d-none');
                        s = (fieldData['type'] || "").toUpperCase();
                        $('select[buttonStyle]').val(s);
                        o = $('input[buttonOutline]');
                        o.removeClass('d-none');
                        t.parseButtonClass(fieldClass);
                        t.parseButtonData(fieldData);
                        break;
                    case 'INPUT':
                        $('.input-card').removeClass('d-none');
                        s = (fieldData['type'] || "").toUpperCase();
                        $('select[name=InputType]').val(s);
                        o = $('.field-type');
                        $('.input-group-sm', o).addClass('input-group');
                        $('.input-group-append', o).removeClass('d-none');
                        break;
                    case 'SELECT':
                        s = (fieldData['type'] || "").toUpperCase();
                        o = $('.select-type');
                        o.removeClass('d-none');
                        $('select', o).val(s);
                        $('.input-group-sm', o).addClass('input-group');
                        $('.input-group-append', o).removeClass('d-none');
                        break;
                    }

                    o = $('.field-class');
                    $('input', o).val(fieldClass);

                    s = data['WrapperClass'];
                    o = $('.wrapper-class');
                    o.addClass('updating');
                    $('input', o).val(s);


                    /*
                    var bp = $('#preview-statusbar input[name=preview-size]:checked').data('breakpoint');
                    $('input[name=WrapperColBreakpoint][value="col' + bp + '"]').trigger('click');
                    $('input[name=WrapperPaddingBreakpoint][value="' + bp + '"]').trigger('click');
                    $('input[name=WrapperMarginBreakpoint][value="' + bp + '"]').trigger('click');
                    $('input[name=FieldPaddingBreakpoint][value="' + bp + '"]').trigger('click');
                    $('input[name=FieldMarginBreakpoint][value="' + bp + '"]').trigger('click');

                    $('input[name="WrapperColBreakpoint"]:checked').trigger('change');
                    $('input[name="FieldPaddingBreakpoint"]:checked').trigger('change');
                    $('input[name="WrapperPaddingBreakpoint"]:checked').trigger('change');
                    $('input[name="FieldMarginBreakpoint"]:checked').trigger('change');
                    $('input[name="WrapperMarginBreakpoint"]:checked').trigger('change');
                    */
                    $('#preview-statusbar input[name=preview-size]:checked').trigger('change');
                    window.setTimeout(function() { o.removeClass('updating'); }, 10);
                })
                .fail(function() {
                    $('.common-card, .input-card, .select-type, .button-card, .form-card, .embed-card').addClass('d-none');
                });
        }

        function onChangeColBreakpoint(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var bp = getParentBreakpoint(parent);
            var o = $('input[name="ColSize"]', parent);
            var s = updateClass.val();
            var data = parseColClass(s);

            if (o.hasClass('updating') || !data) return;
            o.addClass('updating');
            o.val(data[bp]);
            o.trigger('change');
            data[bp] = o.val();
            window.setTimeout(function() { o.removeClass('updating'); }, 10);
        }

        function onChangeMarginBreakpoint(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var bp = getParentBreakpoint(parent);
            var o = $('input[name="MarginSize"]', parent);
            var s = updateClass.val();
            var data = parseMarginClass(s);
            var m = data['m' + bp];
            var mt = data['mt' + bp];
            var mb = data['mb' + bp];
            var ml = data['ml' + bp];
            var mr = data['mr' + bp];

            if (o.hasClass('updating') || !data) return;
            o.addClass('updating');
            if (m != undefined && m != '-1') {
                mt = mb = ml = mr = m;
            }

            var elem = o;
            elem.val(m);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();
        
            elem = $('input[name="MarginSizeTop"]', parent);
            elem.val(mt);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();
        
            elem = $('input[name="MarginSizeRight"]', parent);
            elem.val(mr);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            elem = $('input[name="MarginSizeBottom"]', parent);
            elem.val(mb);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            elem = $('input[name="MarginSizeLeft"]', parent);
            elem.val(ml);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            $('.margin-m', parent).each(function() {
                $(this).trigger('input'); 
            });
            window.setTimeout(function() { o.removeClass('updating'); }, 10);
        }

        function onChangeMarginSize(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var m = $('input[name=MarginSize]', parent);
            var coll;

            if (!m.hasClass('updating')) {
                m.addClass('updating');
                
                if (target.data('side') === 'm') {
                    coll = $('.margin-m', parent);
                    coll.val(target.val());
                    coll.each(function() {
                        $(this).trigger('input'); 
                    });
                } else {
                    m.val(-1);
                    m.trigger('input'); 
                }
                updateMarginClass(parent);
                window.setTimeout(function() { m.removeClass('updating'); }, 10);
            }
        }

        function onChangePaddingBreakpoint(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var bp = getParentBreakpoint(parent);
            var o = $('input[name="PaddingSize"]', parent);
            var s = updateClass.val();
            var data = parsePaddingClass(s);
            var p = data['p' + bp];
            var pt = data['pt' + bp];
            var pb = data['pb' + bp];
            var pl = data['pl' + bp];
            var pr = data['pr' + bp];

            if (o.hasClass('updating') || !data) return;
            o.addClass('updating');

            if (p != undefined && p != '-1') {
                pt = pb = pl = pr = p;
            }

            var elem = o;
            elem.val(p);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();
        
            elem = $('input[name="PaddingSizeTop"]', parent);
            elem.val(pt);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();
        
            elem = $('input[name="PaddingSizeRight"]', parent);
            elem.val(pr);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            elem = $('input[name="PaddingSizeBottom"]', parent);
            elem.val(pb);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            elem = $('input[name="PaddingSizeLeft"]', parent);
            elem.val(pl);
            elem.trigger('change');
            data[elem.data('side') + bp] = elem.val();

            $('.padding-p', parent).each(function() {
                $(this).trigger('input');
            });
            window.setTimeout(function() { o.removeClass('updating'); }, 10);
        }

        function onChangePaddingSize(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var p = $('input[name=PaddingSize]', parent);
            var coll;

            if (!p.hasClass('updating')) {
                p.addClass('updating');
                
                if (target.data('side') === 'p') {
                    coll = $('.padding-p', parent);
                    coll.val(target.val());
                    coll.each(function() {
                        $(this).trigger('input'); 
                    });
                } else {
                    p.val(-1);
                    p.trigger('input'); 
                }
                updatePaddingClass(parent);
                window.setTimeout(function() { p.removeClass('updating'); }, 10);
            }
        }

        function onChangeColSpanSize(evt) {
            var target = $(evt.target);
            var parent = $(target.data('container'), t.oRightToolbar);
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var data = parseColClass(updateClass.val());
            var bp = getParentBreakpoint(parent);
            if (!data || !bp) return;
            data[bp] = target.val();
            onChangeSlider(evt);
            if (!target.hasClass('updating')) {
                target.addClass('updating');
                updateColClass(parent);
                window.setTimeout(function() { target.removeClass('updating'); }, 10);
            }
        }

        function onChangeSlider(evt) {
            var o = $(evt.target);
            var s = o.val() || '0';
            var data = o.data('display-values') || [];
            s = data[s] === undefined ? s : data[s];
            o.next('.range-value').html(s);
        }

        function onTogglePanelCaret(evt) {
            var o = $(this);
            var c = $('.fa-fw', o);
            var s = 'fa-caret-' + ($(o.data('target')).hasClass('show') ? o.data('hidecaret') :  o.data('showcaret'));
            c.removeClass('fa-caret-down fa-caret-right fa-caret-left fa-caret-up');
            c.addClass(s);
        }

        function onChangeButtonClass() {
            var s = oFieldClass.val();
            var btnStyle = $('select[name=buttonStyle]', t.oRightToolbar).val();
            var btnOutline = $('input[name=buttonOutline]', t.oRightToolbar).is(':checked');
            var btnLink = $('input[name=buttonLink]', t.oRightToolbar).is(':checked');
            var btnBlock = $('input[name=buttonBlock]', t.oRightToolbar).is(':checked');
            var btnH100 = $('input[name=buttonH100]', t.oRightToolbar).is(':checked');
            s = s.replace(t.rxButtons, '').replace('h-100', '').trim();
            s += ' btn';
            if (btnStyle || btnOutline || btnLink)
                s += ' btn-' + (btnOutline ? 'outline-': '');

            if (btnStyle)
                s += btnStyle;

            if (btnLink) 
                s += 'link';
            

            if (btnBlock)
                s += ' btn-block';

            if (btnH100)
                s += ' h-100';

            oFieldClass.val(s);
            oFieldClass.trigger('change');
        }

        function onChangeButtonIcon(evt) {
            var oItem = $(this);
            $('select[name=buttonIcon]', t.oRightToolbar).val(oItem.data("icon")).trigger('change');
        }

        function onChangeButtonData(evt) {
            var fieldData = {};

            var icon = ($('select[name=buttonIcon]', t.oRightToolbar).val() || "").toLowerCase();
            var color = ($('select[name=buttonIconColor]', t.oRightToolbar).val() || "").toLowerCase();
            var action = ($('select[name=buttonActionType]', t.oRightToolbar).val() || "").toLowerCase();

            if (icon) icon += ' ' + color;

            if (icon) {
                fieldData['icon'] = ('fa ' + icon).trim();
                while(matches = t.rxIcon.exec(icon)) {
                    switch((matches[0]||"").toLowerCase()) {
                    case 'fa':
                    case 'fa-w':
                        break;
                    default:
                        if (matches[1].startsWith('fa-') ) {
                            var menuItem = $('.button-icon a[data-icon*=' + matches[1] + ']', t.oRightToolbar);
                            if (menuItem.length) {
                                $(".button-icon .btn .btn-label", t.oRightToolbar).html(menuItem.html());
                            } else {
                                $(".button-icon .btn .btn-label", t.oRightToolbar).html('[ none ]');
                            }
                        }
                        break;
                    }
                }
            } else {
                $(".button-icon .btn .btn-label", t.oRightToolbar).html('[ none ]');
            }


            $('.button-action-opts', t.oRightToolbar).addClass('d-none');
            var oAction = {};
            var eventClick;
            if (action) {
                oAction['type'] = action;
                eventClick = $('input[name=buttonEventClick]', t.oRightToolbar).val();

                if (eventClick) oAction['fnClick'] = eventClick;

                switch ((oAction['type'] || "").toLowerCase()) {
                case 'navtostep':
                    oAction['step'] = $('input[name=buttonActionStep]', t.oRightToolbar).val() || "";
                    oAction['section'] = $('input[name=buttonActionSection]', t.oRightToolbar).val() || "";
                    break;
                case 'nav':
                    oAction['screen'] = $('select[name=buttonActionScreen]', t.oRightToolbar).val() || "";
                    break;
                case 'savestep':
                    oAction['step'] = $('input[name=buttonActionStep]', t.oRightToolbar).val() || "";
                    oAction['section'] = $('input[name=buttonActionSection]', t.oRightToolbar).val() || "";
                    break;
                case 'save':
                    oAction['screen'] = $('select[name=buttonActionScreen]', t.oRightToolbar).val() || "";
                    break;
                case 'link':
                    oAction['url'] = $('input[name=buttonActionUrl]', t.oRightToolbar).val() || "";
                    break;
                }
                $('.button-action-' + oAction['type'], t.oRightToolbar).removeClass('d-none');
                fieldData['action'] = oAction;
            } else {
                eventClick = $('input[name=buttonEventClick]', t.oRightToolbar).val();
                if (eventClick) oAction['fnClick'] = eventClick;
                fieldData['action'] = oAction;
            }

            var s = JSON.stringify(fieldData);
            //var o = $('input[name=FieldData]', t.oRightToolbar);

            oFieldData.val(s);
            oFieldData.trigger('change');
        }

        function onChangeInputData(evt) {

        }

        /*
        function fnEditTextarea(evt) {
            prismSyntaxHighlight(this.value, this);
            var ctrl = $(this);
            var p = ctrl.parent().parent();
            var row = p.parent();
            if (evt.type == 'blur') {
                $('.col-lg', row).removeClass('d-none');
                //ctrl.prop('rows', 3);
            } else {
                $('.col-lg', row).addClass('d-none');
                p.removeClass('d-none');
                //ctrl.prop('rows', 10);
            }

        }
        */

        function prismSyntaxHighlight(text, ctrl) {
            var p = $(ctrl).parent();
            var elem = $('code.highlighting-content', p);
            elem.html(text.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("@Html.Raw("<")", "g"), "&lt;"));
            Prism.highlightElement(elem.get(0));
        }
        function prismSyncScroll(element) {
            /* Scroll result to scroll coords of event - sync with textarea */
            var p = $(element).parent();
            var result_element = $("pre.highlighting", p).get(0);
            // Get and set x and y
            result_element.scrollTop = element.scrollTop;
            result_element.scrollLeft = element.scrollLeft;
        }

        function prismCheckTab(element, event) {
            var code = element.value;
            if (event.key == "Tab") {
                /* Tab key pressed */
                event.preventDefault(); // stop normal
                var before_tab = code.slice(0, element.selectionStart); // text before tab
                var after_tab = code.slice(element.selectionEnd, element.value.length); // text after tab
                var cursor_pos = element.selectionEnd + 1; // after tab placed, where cursor moves to - 1 for 1 tab char
                element.value = before_tab + "\t" + after_tab; // add tab char - 1 tab char
                // move cursor
                element.selectionStart = cursor_pos;
                element.selectionEnd = cursor_pos;

                var p = $(element).parent();
                var text = element.value;
                var elem = $('code.highlighting-content', p);
                elem.html(text.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("@Html.Raw("<")", "g"), "&lt;"));
                Prism.highlightElement(elem.get(0));
            }
        }

        function onClickBtnFieldData(evt) {
            var re = /(["])((?:(?=(\\?))\3[\s\S])*?)\1/g;
            var data = $('input[name=FieldData]').val();//.replace(/\\n/g, '\n').replace(/\\r/g, '\r').replace(/\\t/g, '\t');
            data = data.replace(re, function(match) {
                return match.replace(/(\\r)?\\n/g, '\r\n').replace(/\\t/g, '\t');
            });


            var dialog = bootbox.dialog({
                title: 'JSON Data for Field',
                message: '<div class="row h-100"><div class="col h-100 mx-3"><textarea name="codeFieldData" class="w-100 h-100 form-control editing" spellcheck="false">' + data + '</textarea><pre aria-hidden="true" class="highlighting form-control"><code class="language-javascript highlighting-content"></code></pre></div></div>',
                size: 'xl',
                onShow: function(e) {
                    $('.modal-content', e.currentTarget).css('height', '85%');
                    $('.bootbox-body', e.currentTarget).addClass('h-100');
                },
                onShown: function(e) {
                    //console.log(e);
                    $('textarea.editing', e.currentTarget).off()
                        .on("input", function() { prismSyntaxHighlight(this.value, this); })
                        .on("scroll", function() { prismSyncScroll(this); })
                        .on("keydown", function(evt) { prismCheckTab(this, evt) });

                    $('.modal-body textarea.editing', e.currentTarget).each(function() {
                        var val = this.value;
                        this.value = val;
                        prismSyntaxHighlight(this.value, this);
                    });


                },
                buttons: {
                    confirm: {
                        label: 'Save',
                        className: 'btn-success',
                        callback: function(result) {
                            // ...
                            var val = $('textarea[name=codeFieldData]', result.delegateTarget).val();
                            var jsonVal = {};
                            val = val.replace(re, function(match) {
                                //console.log(match);
                                return match.replace(/\r?\n/g, '\\n').replace(/\t/g, '\\t');
                            });
                            try {
                                // parse and serialize JSON for syntax check
                                jsonVal = $.parseJSON(val);
                                val = JSON.stringify(jsonVal);
                            } catch(ex) {
                                toastr.error(ex.message, 'An error occurred while parsing JSON data:');
                                return false;
                            }
                            $('input[name=FieldData]').val(val);
                            $('input[name=FieldData]').trigger('change');
                        }
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-danger'
                    }
                }
            });
        }

        function onClickBtnLanguage(evt) {
            var content = $('#jlw-dtlist-localizedcontenttext').html() || '<div></div>';
            var data = t.serializeFormToJson($(evt.currentTarget).closest('.card-body'));
            function fnOnClose(result) { window.postMessage({ 'action': 'updateTree', 'tree-id': data['Id']}); }
            var dialog = bootbox.dialog({
                title: 'Label / Content Localization',
                message: content,
                size: 'xl',
                closeButton: fnOnClose,
                onEscape: fnOnClose,
                onShow: function(e) {
                    $('.modal-content', e.currentTarget).css('height', '85%');
                    $('.bootbox-body', e.currentTarget).addClass('h-100');
                },
                onShown: function(e) {
                    console.log(e, evt);
                    window.jlwLibLocalizedContentText($('table.jlw-datatable-localizedcontenttext', e.currentTarget), '@apiUrl/localization/', data, $);
                },
                buttons: {
                    cancel: {
                        label: 'Close',
                        className: 'btn-sm btn-primary',
                        callback: fnOnClose
                    }
                }
            });
        }

        function parseColClass(s) {
            var data = {
                'col': -1,
                'col-sm': -1,
                'col-md': -1,
                'col-lg': -1,
                'col-xl': -1
            };
            var matches = {};
            while(matches = t.rxCols.exec(s)) {
                var type = matches[1];
                data[type] = matches[2] || '0';
                if (matches[2] == 'auto')
                    data[type] = '13';
            }
            return data;
        }

        function parsePaddingClass(s) {
            var data = {};
            var si = '';
            var bi = '';
            // Initialize data
            for(bi in t.aBreakpoints) {
                for(si in t.aSides) {
                    data['p' + t.aSides[si] + t.aBreakpoints[bi]] = -1;
                }
            }
            var matches = {};
            while(matches = t.rxPadding.exec(s)) {
                var type = matches[1];
                var val = matches[3] || '0';
                val = val == 'auto' ? 6 : val;
                switch(matches[2]) {
                    case 'x':
                        data[type.replace('px', 'pl')] = val;
                        data[type.replace('px', 'pr')] = val;
                        break;
                    case 'y':
                        data[type.replace('py', 'pt')] = val;
                        data[type.replace('py', 'pb')] = val;
                        break;
                    default:
                        data[type] = val;
                        break;
                }
            }
            return data;
        }

        function parseMarginClass(s) {
            var data = {};
            var si = '';
            var bi = '';
            // Initialize data
            for(bi in t.aBreakpoints) {
                for(si in t.aSides) {
                    data['m' + t.aSides[si] + t.aBreakpoints[bi]] = -1;
                }
            }
            var matches = {};
            while(matches = t.rxMargin.exec(s)) {
                var type = matches[1];
                var val = matches[3] || '0';
                val = val == 'auto' ? 6 : val;
                switch(val) {
                    case 'n1':
                        val = -2;
                        break;
                    case 'n2':
                        val = -3;
                        break;
                    case 'n3':
                        val = -4;
                        break;
                    case 'n4':
                        val = -5;
                        break;
                    case 'n5':
                        val = -6;
                        break;
                }
                switch(matches[2]) {
                case 'x':
                    data[type.replace('mx', 'ml')] = val;
                    data[type.replace('mx', 'mr')] = val;
                    break;
                case 'y':
                    data[type.replace('my', 'mt')] = val;
                    data[type.replace('my', 'mb')] = val;
                    break;
                default:
                    data[type] = val;
                    break;
                }
            }
            return data;
        }

        function parseButtonClass(s) {
            $('input[name="buttonOutline"],input[name="buttonBlock"],input[name="buttonH100"]').prop('checked', false);
            var matches = {};
            while(matches = t.rxButtons.exec(s)) {
                switch((matches[1]||"").toLowerCase()) {
                    case 'outline':
                        $('input[name="buttonOutline"]').prop('checked', true);
                        break;
                    case 'block':
                        $('input[name="buttonBlock"]').prop('checked', true);
                        break;
                    case 'link':
                        $('input[name="buttonLink"]').prop('checked', true);
                        break;
                    case '':
                    case 'sm':
                    case 'lg':
                        break;
                }

                if (matches[2]) {
                    $('select[name=buttonStyle]').val((matches[2] || "").toLowerCase());
                }
            }

            if ((s || "").toLowerCase().indexOf('h-100') > -1) {
                $('input[name="buttonH100"]').prop('checked', true);
            }
        }

        function parseButtonData(data) {
            var sIcon = data['icon'] || "";
            var action = data['action'] || {};
            var matches = {};
            if (sIcon) {
                while (matches = t.rxIcon.exec(sIcon)) {
                    switch ((matches[0] || "").toLowerCase()) {
                    case 'fa':
                    case 'fa-w':
                        break;
                    case 'text-success':
                    case 'text-warning':
                    case 'text-danger':
                    case 'text-primary':
                    case 'text-secondary':
                    case 'text-info':
                    case 'text-light':
                    case 'text-dark':
                        if (matches[2]) {
                            $('select[name=buttonIconColor]', t.oRightToolbar).val((matches[2] || "").toLowerCase());
                        }
                        break;
                    default:
                        $('select[name=buttonIcon]', t.oRightToolbar).val(matches[1]);
                        if (matches[1].startsWith('fa-')) {
                            var menuItem = $('.button-icon a[data-icon*=' + matches[1] + ']', t.oRightToolbar);
                            if (menuItem.length) {
                                $(".button-icon .btn .btn-label", t.oRightToolbar).html(menuItem.html());
                            } else {
                                $(".button-icon .btn .btn-label", t.oRightToolbar).html('[ none ]');
                            }
                        }
                        break;
                    }
                }
            } else {
                $(".button-icon .btn .btn-label", t.oRightToolbar).html('[ none ]');
            }

            $('.button-action-opts', t.oRightToolbar).addClass('d-none');
            $('.button-action-' + (action["type"] || ""), t.oRightToolbar).removeClass('d-none');

            $('input[name=buttonEventClick]', t.oRightToolbar).val(action["fnClick"]);
            $('select[name=buttonActionType]', t.oRightToolbar).val(action["type"] || "");
            $('input[name=buttonActionSection]', t.oRightToolbar).val(action["section"] || "");
            $('input[name=buttonActionStep]', t.oRightToolbar).val(action["step"] || "");
            $('input[name=buttonActionUrl]', t.oRightToolbar).val(action["url"] || "");
            $('select[name=buttonActionScreen]', t.oRightToolbar).val(action["screen"] || "");
        }

        function buildFieldUpdateJson(o) {
            var toolbar = $('.right-toolbar');
            var updateData = {
                id: $('input[name=Id]', toolbar).val(),
                fieldName: o.prop('name'),
                fieldValue: o.val()
            };

            return updateData;
        }

        function buildClassLookupString(data, lookup) {
            var s = '';
            var val = '';
            var key = '';
        
            for (key in data) {
                val = lookup[data[key]];
                switch(data[key].toString()) {
                case '-1':
                    break;
                default:
                    if (val.length && val !== '*')
                        s += ' ' + key + '-' + val;
                    else
                        s += ' ' + key;
                    break;
                }
            }
            return s;
        }

        function updateColClass(parent) {
            //var oWrapperClass = $('input[name=WrapperClass]');
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var s = updateClass.val();
            var colData = parseColClass(s);
            var colBreakpoint = getParentBreakpoint(parent);

            colData[colBreakpoint] = $('input[name=ColSize]').val();

            s = s.replace(t.rxCols, '');
            s = s.trim();
            s += buildClassLookupString(colData, t.aColSize);
            updateClass.val(s);
            updateClass.trigger('change');
        }

        function updatePaddingClass(parent) {
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var s = updateClass.val();
            var data = parsePaddingClass(s);
            var breakPoint = getParentBreakpoint(parent);
            var p = $('input[name=PaddingSize]', parent).val().toString();
            var pt = $('input[name=PaddingSizeTop]', parent).val().toString();
            var pb = $('input[name=PaddingSizeBottom]', parent).val().toString();
            var pr = $('input[name=PaddingSizeRight]', parent).val().toString();
            var pl = $('input[name=PaddingSizeLeft]', parent).val().toString();

            data['p' + breakPoint] = p;
            data['pt' + breakPoint] = pt;
            data['pb' + breakPoint] = pb;
            data['pl' + breakPoint] = pl;
            data['pr' + breakPoint] = pr;

            s = s.replace(t.rxPadding, '');
            s = s.trim();
            for (var i in t.aBreakpoints) {
                var bp = t.aBreakpoints[i];
                p = t.aPaddingSize[(data['p' + bp] || -1)];
                pt = t.aPaddingSize[(data['pt' + bp] || -1)];
                pb = t.aPaddingSize[(data['pb' + bp] || -1)];
                pl = t.aPaddingSize[(data['pl' + bp] || -1)];
                pr = t.aPaddingSize[(data['pr' + bp] || -1)];

                if ((p !== undefined && p != '') || (new Set([pt, pb, pl, pr])).size === 1) {
                    // general padding is set, ignore others
                    if (p == '') p = pt;
                    if (p != '') s += ' p' + bp + '-' + p;
                } else {
                    if (pt !== undefined && pt != '' && pt == pb) {
                        // py is set
                        s += ' py' + bp + '-' + pt;
                    } else {
                        // process pt and pb separately
                        if (pt != undefined && pt != '') {
                            s += ' pt' + bp + '-' + pt;
                        }
                        if (pb != undefined && pb != '') {
                            s += ' pb' + bp + '-' + pb;
                        }
                    }

                    if (pl !== undefined && pl != '' && pl == pr) {
                        // px is set
                        s += ' px' + bp + '-' + pl;
                    } else {
                        // process pl and pr separately
                        if (pl != undefined && pl != '') {
                            s += ' pl' + bp + '-' + pl;
                        }
                        if (pr != undefined && pr != '') {
                            s += ' pr' + bp + '-' + pr;
                        }
                    }
                }
            }
            updateClass.val(s);
            updateClass.trigger('change'); //saveFieldData({target: oWrapperClass});
        }

        function updateMarginClass(parent) {
            var updateClass = $($(parent).data('updates'), t.oRightToolbar);
            var s = updateClass.val();
            var data = parseMarginClass(s);
            var breakPoint = getParentBreakpoint(parent);
            var m = $('input[name=MarginSize]', parent).val().toString();
            var mt = $('input[name=MarginSizeTop]', parent).val().toString();
            var mb = $('input[name=MarginSizeBottom]', parent).val().toString();
            var mr = $('input[name=MarginSizeRight]', parent).val().toString();
            var ml = $('input[name=MarginSizeLeft]', parent).val().toString();

            data['m' + breakPoint] = m;
            data['mt' + breakPoint] = mt;
            data['mb' + breakPoint] = mb;
            data['ml' + breakPoint] = ml;
            data['mr' + breakPoint] = mr;

            s = s.replace(t.rxMargin, '');
            s = s.trim();
            for (var i in t.aBreakpoints) {
                var bp = t.aBreakpoints[i];
                m = t.aMarginSize[(data['m' + bp] || -1)];
                mt = t.aMarginSize[(data['mt' + bp] || -1)];
                mb = t.aMarginSize[(data['mb' + bp] || -1)];
                ml = t.aMarginSize[(data['ml' + bp] || -1)];
                mr = t.aMarginSize[(data['mr' + bp] || -1)];

                m = m.replace('-', 'n');
                mt = mt.replace('-', 'n');
                mb = mb.replace('-', 'n');
                ml = ml.replace('-', 'n');
                mr = mr.replace('-', 'n');

                if ((m !== undefined && m != '') || (new Set([mt, mb, ml, mr])).size === 1) {
                    // general margin is set, ignore others
                    if (m == '') m = mt;
                    if (m != '') s += ' m' + bp + '-' + m;
                } else {
                    if (mt !== undefined && mt != '' && mt == mb) {
                        // my is set
                        s += ' my' + bp + '-' + mt;
                    } else {
                        // process mt and mb separately
                        if (mt != undefined && mt != '') {
                            s += ' mt' + bp + '-' + mt;
                        }
                        if (mb != undefined && mb != '') {
                            s += ' mb' + bp + '-' + mb;
                        }
                    }

                    if (ml !== undefined && ml != '' && ml == mr) {
                        // px is set
                        s += ' mx' + bp + '-' + ml;
                    } else {
                        // process ml and mr separately
                        if (ml != undefined && ml != '') {
                            s += ' ml' + bp + '-' + ml;
                        }
                        if (mr != undefined && mr != '') {
                            s += ' mr' + bp + '-' + mr;
                        }
                    }
                }
            }
            updateClass.val(s);
            updateClass.trigger('change'); //saveFieldData({target: oWrapperClass});
        }

        function saveFieldData(evt) {
            //var toolbar = $('#rightToolbar');
            if (t.oRightToolbar.hasClass('updating')) 
                return;

            var o = $(evt.target);

            t.oRightToolbar.addClass('updating');

            var data = buildFieldUpdateJson(o);

            t.post(t.urlApiRoot + '/SaveNode', data )
                .done(function(data) {
                })
                .fail(function() {

                })
                .always(function() {
                    var tree = $.ui.fancytree.getTree("#wizardtree");
                    if (o.prop('name') == "FieldKey") {
                        tree.reload()
                            .always(function() {
                                tree.activateKey(0, { activeVisible: true });
                                if (data['id']) {
                                    tree.activateKey(data['id'], { activeVisible: true });
                                }
                            });
                    } else {
                        tree.activateKey(0, {activeVisible:true});
                        if (data['id']) {
                            tree.activateKey(data['id'], {activeVisible:true});
                        }

                    }
                    t.oRightToolbar.removeClass('updating');
                });
        }

        initMemberArrays();
        initMemberRegex();
        initMemberFunctions();
        initControls();

    }

</script>
